<!DOCTYPE html>
<html lang="en">

<head>

  <%- include('../partials/head') %>
   <!-- Data Table Css -->
   <link rel="stylesheet" type="text/css" href="/retailer/files/bower_components/datatables.net-bs4/css/dataTables.bootstrap4.min.css">
   <link rel="stylesheet" type="text/css" href="/retailer/files/assets/pages/data-table/css/buttons.dataTables.min.css">
   <link rel="stylesheet" type="text/css" href="/retailer/files/bower_components/datatables.net-responsive-bs4/css/responsive.bootstrap4.min.css">
</head>

<body>
     <!-- [ Pre-loader ] start -->
     
    <!-- [ Pre-loader ] end -->
    <div id="pcoded" class="pcoded">
        <div class="pcoded-overlay-box"></div>
        <div class="pcoded-container navbar-wrapper">
            
            <%- include('../partials/topnav') %>
            

            <div class="pcoded-main-container">
                <div class="pcoded-wrapper">
                    <!-- [ navigation menu ] start -->
                    <%- include('../partials/sidebar') %>
                    <!-- [ navigation menu ] end -->
                    <div class="pcoded-content">
                        <div class="page-header card">
                            <div class="row align-items-end">
                                <div class="col-lg-8">
                                    <div class="page-header-title">
                                        <i class="feather icon-watch bg-c-blue"></i>
                                        <div class="d-inline">
                                            <h5><%=pageTitle%></h5>
                                            <span><%=smallTitle%></span>
                                        </div>
                                    </div>
                                </div>
                               
                            </div>
                        </div>
                        <!-- [ breadcrumb ] end -->
                        <div class="pcoded-inner-content">
                            <div class="main-body">
                                <div class="page-wrapper">
                                    <div class="page-body">
                                        <!-- [ page content ] start -->
                                        <div class="row">
                                            <div class="col-sm-12">
                                                <div class="card">
                                                    <div class="card-header">
                                                        <h5><%=pageTitle%></h5>
                                                        <div class="card-header-right">
                                                            <ul class="list-unstyled card-option">
                                                                <li class="first-opt"><i class="feather icon-chevron-left open-card-option"></i></li>
                                                                <li><i class="feather icon-maximize full-card"></i></li>
                                                                <li><i class="feather icon-minus minimize-card"></i></li>
                                                                <li><i class="feather icon-refresh-cw reload-card"></i></li>
                                                                <li><i class="feather icon-trash close-card"></i></li>                                                                 <li><i class="feather icon-chevron-left open-card-option"></i></li>
                                                            </ul>
                                                        </div>
                                                    </div>
                                                    <div class="card-block">
                                                        <div class="table-responsive dt-responsive">
                                                            <table id="colum-rendr" class="table table-striped table-bordered nowrap">
                                                              <thead>
                                                                <tr>
                                                                  <th>No</th>
                                                                  <th>Id </th>
                                                                  <th>Name</th>
                                                                  <th>Email</th>
                                                                 
                                                                </tr>
                                                              </thead>
                                                              <tbody>
                                                                <% if(uData.length==0){ %>
                                                                    <tr><td colspan="6">No data found</td></tr>
                                                                <% }else { %>
                                                                <% uData.forEach((p, index) => { 
                                                                    
                                                                    %>
                                                                    <tr>
                                                                        <td> <%= index+1 %></td>
                                                                        <td><%= p.user_id %></td>
                                                                        <td><%= p.name %></td>
                                                                        <td><%= p.email %></td>
                                                                        
                                                                    </tr>
                                                                    <% }); }%>
                                                             </tbody>
                                                              <tfoot>
                                                                <tr>
                                                                    <th>No</th>
                                                                    <th>Id </th>
                                                                    <th>Name</th>
                                                                    <th>Email</th>
                                                                </tr>
                                                              </tfoot>
                                                            </table>
                                                          </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <!-- [ page content ] end -->
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- [ style Customizer ] start -->
                    <div id="styleSelector">
                    </div>
                    <!-- [ style Customizer ] end -->
                </div>
            </div>
        </div>
    </div>

    <%- include('../partials/scripts') %>
     <!-- data-table js -->
<script src="/retailer/files/bower_components/datatables.net/js/jquery.dataTables.min.js"></script>
<script src="/retailer/files/bower_components/datatables.net-buttons/js/dataTables.buttons.min.js"></script>
<script src="/retailer/files/assets/pages/data-table/js/jszip.min.js"></script>
<script src="/retailer/files/assets/pages/data-table/js/pdfmake.min.js"></script>
<script src="/retailer/files/assets/pages/data-table/js/vfs_fonts.js"></script>
<script src="/retailer/files/bower_components/datatables.net-buttons/js/buttons.print.min.js"></script>
<script src="/retailer/files/bower_components/datatables.net-buttons/js/buttons.html5.min.js"></script>
<script src="/retailer/files/bower_components/datatables.net-bs4/js/dataTables.bootstrap4.min.js"></script>
<script src="/retailer/files/bower_components/datatables.net-responsive/js/dataTables.responsive.min.js"></script>
<script src="/retailer/files/bower_components/datatables.net-responsive-bs4/js/responsive.bootstrap4.min.js"></script>
     <!-- Custom js -->
     <script src="/retailer/files/assets/js/pcoded.min.js"></script>
     <script src="/retailer/files/assets/js/vertical/vertical-layout.min.js"></script>

     <script type="text/javascript" src="/retailer/files/assets/js/script.min.js"></script>
     <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.29.4/moment.min.js"></script>
     <script>
        document.querySelectorAll('.dateformat').forEach(function(el) {
            const d = el.textContent; 
            const formattedDate = moment(d).format('YYYY-MM-DD'); 
            el.textContent = formattedDate; //
        });
    </script>
     <script>
        $(document).ready(function(){
            $('#colum-rendr').DataTable({
       
    });
        })
     </script>
     
</body>

</html>