<!DOCTYPE html>
<html lang="en-US" dir="ltr">
<head>
    <%- include('../partials/customer_head') %>
    <link rel="stylesheet" href="https://cdn.datatables.net/2.1.8/css/dataTables.bootstrap5.css" />
  
</head>

  <body>
    <!-- ===============================================-->
    <!--    Main Content-->
    <!-- ===============================================-->
    <main class="main" id="top">
        <%- include('../partials/customer_menu') %>
        <intput type="hidden" id="refreshPage" value="true"/>
      <section id="testimonial">
        <div class="container">
          <div class="row h-100">
            <div class="container py-3">
                <h3>Order List</h3>
                <div class="row">
                  <div class="col-12 col-sm-12 col-md-12 col-lg-12">
                  
                    <table id="orderTable" class="table table-striped" style="width:100%">
                        <thead>
                            <tr>
                                <th>No</th>
                                <th>Order ID</th>
                                <th>Date</th>
                                <th>subtotal</th>
                                <th>Delivery charge</th>
                                <th>Total</th>
                                <th>Action</th>
                            </tr>
                        </thead>
                        <tbody>
                            <% if ((Array.isArray(orders) && orders.length > 0)){ 
                      
                                %>
                                <% orders.forEach((o, index) => { %>
                            <tr>
                                <td><%= index +1 %></td>
                                <td><%= o.order_unique %></td>
                                <td><%= o.purchase_date %></td>
                                <td>$<%= o.total_price %></td>
                                <td>$<%= o.delivery_charge %></td>
                                <td>$<%= o.grand_total %></td>
                                <td> <a  href= "<%= siteName %>/consumer/order/<%= o.order_unique %>">
                                    <i class="fas fa-eye me-2 fs-0"></i>
                                  </a>
                                </td>
                               
                            </tr>
                            <% }) %>
                            <% } %>
                            
                        </tbody>
                        <tfoot>
                            <tr>
                                <th>No</th>
                                <th>Order ID</th>
                                <th>Date</th>
                                <th>subtotal</th>
                                <th>Delivery charge</th>
                                <th>Total</th>
                                <th>Action</th>
                            </tr>
                        </tfoot>
                    </table>
                    
                   
                  </div>
                  
                </div>
              </div>
          </div>
         
        </div>
      </section>

      <%- include('../partials/customer_footer') %>
     
    </main><!-- ===============================================-->
    <!--    End of Main Content-->
    <!-- ===============================================-->



    <!-- ===============================================-->
    <!--    JavaScripts-->
    <!-- ===============================================-->
    <%- include('../partials/customer_scripts') %>
    <script src="https://cdn.datatables.net/2.1.8/js/dataTables.js"></script>
    <script src="https://cdn.datatables.net/2.1.8/js/dataTables.bootstrap5.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.29.4/moment.min.js"></script>
    <script>
       document.querySelectorAll('.dateformat').forEach(function(el) {
           const d = el.textContent; 
           const formattedDate = moment(d).format('YYYY-MM-DD'); 
           el.textContent = formattedDate; //
       });
   </script>
    <script>
        $(document).ready(function() {
           $('#orderTable').DataTable();
           
            
            
         });
    </script>
  

  </body>
</html>